body {
    background-color: white;
    font-family: sans-serif;
}

header {
   background-color: green;

}

#projectname {
    font-size: 80%;
    color: #666666;
}
#projectbrief {
    font-size: 50%;
    color: #666666;
}
